doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title= oh

    body
        table.body(role='presentation', border='0', cellpadding='0', cellspacing='0')
            p does not work
